body {
	background-color: #77b0ff;
}


h1 {
	color: #4c4c56;
	font-family: Overpass;
	font-size: 9vw;
	font-style: bold;
	text-align: center;
	margin: 3vw;
	margin-bottom: 0px;
}

#subtitle {
	margin-top: 0px;
	color: #4c4c56;
	font-family: Overpass;
	font-size: 3vw;
	font-style: bold;
	text-align: center;
}


#description {
	margin-top: 2.8vw;
	margin-left: 20%;
	margin-right: 20%;
}

#description p {
	margin-top: 0px;
	color: #4c4c56;
	font-family: Overpass;
	font-size: 1.7vw;
	font-style: bold;
	text-indent: 1.5vw;
}


#trailer {
	margin-top: 4vw;
	margin-left: 4%;
	float: left;
	width: 60%;
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
}

#trailer iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60%;
	border: 0;
}

#discord {
	margin-top: 4vw;
	margin-right: 4%;
	float: right;
	width: 28%;
	position: relative;
	overflow: hidden;
	padding-top: 56.25%;
}

#discord iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60%;
	border: 0;
}
